.filterSection {
    max-width: 460px;
    height: calc(100vh - 150px);
    grid-area: f;
    background-color: green;
  }

#sortBy {
  display: flex;
  flex-direction: column;
}

.sortBy {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: rgb(127, 255, 212);
  overflow: hidden;
  padding: 10px;
  input{
    margin: 0px;
  }

}

.filterBy {
  @extend .sortBy
}

#filterBy {
 @extend #sortBy
}

