.filterSection {
    max-width: 460px;
    // height: calc(100vh - 150px);
    height: 100vh;
    grid-area: f;
    background-color: rgb(216, 224, 216);
  }

#sortBy {
  display: flex;
  flex-direction: column;
}

.sortBy {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: rgb(141, 177, 245);
  overflow: hidden;
  padding: 10px;
  input{
    margin: 0px;
  }

}



.filterBy {
  @extend .sortBy;
}

#filterBy {
 @extend #sortBy;
}

.airlinesFilter {
  @extend .sortBy
}

