.searchSection {
    width: calc(100% - 60px);
    height: 90px;
    grid-area: s;
    background-color: rgb(255, 235, 234);
    display: flex;
    padding: 30px;
    justify-content: space-evenly;

    input {
      height: 30px;
      line-height: 30px;
      border-width: 0px;
    }
    button {
      height: 30px;
      line-height: 30px;
      border-width: 0px;

    }
  }